xml/personal_blog.dtd

<!DOCTYPE BODY [
<!ELEMENT BODY (NOTE*)>
<!ELEMENT NOTE (AUTHOR, DATE, TITLE, CONTENT, TAGS)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT DATE (YEAR, MONTH, DAY, TIME)>
<!ELEMENT YEAR (#PCDATA)>
<!ELEMENT MONTH (#PCDATA)>
<!ELEMENT DAY (#PCDATA)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT CONTENT (TEXT, IMAGE)>
<!ELEMENT TEXT (#PCDATA)>
<!ELEMENT IMAGE (#PCDATA)>
<!ELEMENT TAGS (#PCDATA)>
]>